
body {
  background-color: #f6f7f6;
}

h3 {
  color: var(--colours-dark-green, #18270C);
  /* Mobile/Heading 3 */
  font-family: Helvetica Neue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  justify-content: center; 
  align-items: center; 
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}

img {
  border-radius: 10px 10px 0px 0px;
  background: url(photo/info.jpg), lightgray 50% / cover no-repeat;
}

/*h3 {  
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #618f30;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  }*/

  .infobox {
    /*border: 1px solid gray; */
    background: var(--colours-white, #FFF);
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto; /* 水平居中，上下外边距为0 */
    width: 392px; 
      }



.box {
    /*border: 1px solid gray; */
    background: var(--colours-white, #FFF);
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto; 
    width: 360px; 
    padding: 16px;
    gap: 10px;
  }

  label, input[type="number"] {
    font-family: Helvetica Neue;
    display: inline-block;
    vertical-align: middle;
  }

  label {
    width: 50%; /* 调整标签的宽度，可以根据需要进行调整 */
    text-align: left; /* 将标签文本左对齐 */
  }

  input[type="number"] {
    width: 30%; /* 调整输入框的宽度，可以根据需要进行调整 */
    text-align: right; /* 将输入框内容右对齐 */
    border-radius: 5px;
    border: 1px solid var(--colours-mid-grey, #B0B0B0);
    padding: 5px;
  }




#location {
  border-radius: 5px;
  border: 1px solid var(--colours-mid-grey, #B0B0B0);
  padding: 5px;
  width: 150px; /* 根据需要设置宽度 */
}

/* 去掉默认的选择箭头 */
#location::-ms-expand {
  display: none;
}

#location::-webkit-inner-spin-button,
#location::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 自定义选择框的外观 */
#location {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('path/to/your/arrow-icon.png'); /* 设置自定义箭头图标的路径 */
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px; /* 确保箭头不会与文字重叠 */
}


/* 通用的 checkbox 样式 */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--colours-mid-grey, #B0B0B0);
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

/* 选中状态的 checkbox 样式 */
input[type="checkbox"]:checked {
  background-color: white;
  /* 更改对号颜色和粗细，以及居中显示 */
  &::before {
    content: "\2713";
    display: block;
    width: 20px;
    height: 20px;
    color: var(--your-checked-color, #618f30);
    text-align: left;
    line-height: 16px;
    font-weight: bold; /* 设置对号的粗细 */
    font-size: 20px; /* 设置对号的大小 */
  }
}


/* 去掉默认的选择箭头 */
#location::-ms-expand {
  display: none;
}

#location::-webkit-inner-spin-button,
#location::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 自定义选择框的外观 */
#location {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('path/to/your/arrow-icon.png'); /* 设置自定义箭头图标的路径 */
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px; /* 确保箭头不会与文字重叠 */
}






  .line-break {
    margin-top: 10px; /* 添加上外边距，创建10px的间距 */
  }

  .costButton {
  text-align: center;
  margin: 0 auto; 
  width: 360px; 
  }

.showPrice {  
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #618f30;
  font-size: 18px;
  text-align: center; /* 文本水平居中 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  }


  #saveData, #sendEmail {
    display: none;
  }
